* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  background-size: cover;
}

#navbar {
  display: flex;
  width: 375px;
  height: 48px;
  padding: 4px 24px 4px 12px;
  align-items: flex-start;
  gap: 199px;
  flex-shrink: 0;
  justify-content: space-around;
}

.sec {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-image: url(./img.png);
}

header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#menuBars {
  height: 24px;
  width: 24px;
}

#logo {
  color: #6070ff;
  align-self: center;
  font-family: Poppins, sans-serif;
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.content {
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 130% */
  display: flex;
  width: 327px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
}

.description {
  width: 327px;
  height: 146px;
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.mediaLinks {
  width: 170.167px;
  height: 20px;
  display: flex;
  gap: 40px;
  justify-content: left;
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 12px;
}

.contact {
  color: var(--primary-b-300, #7f8cff);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

#pg1 {
  height: 604px;
  width: 375px;
}

#pg2 {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 88px;
}

#card {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
}

.snapImg {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.Font {
  width: 295px;
  height: 36px;
  color: var(--neutrals-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.det {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.Details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.p1 {
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.p2 {
  color: var(--neutrals-n-100, #7a869a);
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.detPara {
  width: 295px;
  height: 76px;
  color: var(--neutrals-n-600, #344563);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.detButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.TB {
  color: var(--primary-b-400, #6070ff);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
}

.SeeProject {
  display: flex;
  padding: 12px 169px 12px 0;
  align-items: center;
}

#SP {
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.SPoutline {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
}

#card2 {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
}

#pg3 {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.pg3A {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

#pg3B {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.lang {
  display: flex;
  padding: 16px 26px 16px 12px;
  align-items: center;
  gap: 12px;
  color: #000;
}

.langDetails {
  width: 237px;
  color: #000;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.langList {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.languages {
  display: flex;
  width: 303px;
  padding: 9px 12px 9.716px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
}

.ln {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-700, #253858);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.frameworks {
  display: flex;
  width: 327px;
  height: 72px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.fn {
  width: 237px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #000;
  line-height: 24px;
}

.rightIndicator {
  width: 24px;
  height: 24px;
}

#pg4 {
  width: 375px;
  height: 779px;
  flex-shrink: 0;
  background-color: #6070ff;
  background-image: url(./contact\ form\ shapes-mobile@2x.png);

  /* border-top-left-radius: 8px; */
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 265px 709.166px;
  border-top-left-radius: 90px;
  margin-top: 20px;
}

.contactMe {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.contactPara {
  width: 327px;
  height: 137px;
  flex-shrink: 0;
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  margin: auto;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.inputTag {
  width: 327px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
}

.inputName {
  display: flex;
  width: 273px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutral-n-800, #172b4d);
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#inputplace {
  width: 273px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--base-100, #cfd8dc);
  background: var(--mono-white, #fff);
}

#inputPlaceHolder {
  color: var(--neutrals-n-60, #b3bac5);
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.SP {
  padding: 10px 20px;
  background-color: white;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

form input,
textarea {
  padding: 13px;
  margin-bottom: 10px;
  border: 1px solid #cfd8dc;
  background-color: white;
  border-radius: 8px;
  color: #172b4d;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.button {
  padding: 08px 12px;
  color: #6070ff;
  text-align: center;
  border-radius: 8px;
  background: #ffff;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
